In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\daniel\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\daniel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\daniel\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\daniel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\daniel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\daniel\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

df_vendas = pd.read_csv('./dados/vendas.csv')

df_vendas

   TransactionID        Date  ProductID  Quantity  SaleValue         Channel
0              1  2024-12-01        101         2       40.0      E-commerce
1              2  2024-12-02        102         1       20.0  Physical Store
2              3  2024-12-02        103         3       60.0      E-commerce
3              4  2024-12-03        101         4       80.0  Physical Store
4              5  2024-12-04        104         1       30.0      E-commerce
5              6  2024-12-04        102         2       40.0  Physical Store

In [6]:
valorTotal = df_vendas['Quantity'] * df_vendas['SaleValue']
valorTotal

0     80.0
1     20.0
2    180.0
3    320.0
4     30.0
5     80.0
dtype: float64

In [7]:
df_vendas['TotalValue'] = df_vendas['Quantity'] * df_vendas['SaleValue']

NameError: name 'df' is not defined