Primeiro vamos instalar o pandas:

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\daniel\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\daniel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\daniel\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\daniel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\daniel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\daniel\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

Primeiros passos com pandas üêº

In [2]:
# Criando dados fict√≠cios em um dicion√°rio
import pandas as pd

dados = {
    'Carros': ['Jetta Variant', 'Passat', 'Crossfox'],
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor 2.0'],
    'Ano': [2003, 1991, 1990]
}

mostrarDados = pd.DataFrame(dados)

print(mostrarDados)

          Carros            Motor   Ano
0  Jetta Variant  Motor 4.0 Turbo  2003
1         Passat     Motor Diesel  1991
2       Crossfox        Motor 2.0  1990

## Criando uma **s√©rie**
Uma s√©rie de Pandas √© como uma coluna em uma tabela.

√â uma matriz unidimensional que cont√©m dados de qualquer tipo.

In [3]:
salarios = [1500, 2100, 4720]
series = pd.Series(salarios)
print(series)

0    1500
1    2100
2    4720
dtype: int64

In [4]:
# acessando dados via √≠ndice, vamos supor que queremos o primeiro sal√°rio dessa s√©rie
print(series[0])

1500

In [5]:
# Criando r√≥tulos: √© como se fosse uma coluna com nomes para rotular alguma linha por exemplo
rotulos = pd.Series(salarios, index=['linha1', 'linha2', 'linha3'])
print(rotulos)

# buscando uma linha espec√≠fica
print(rotulos['linha2'])

linha1    1500
linha2    2100
linha3    4720
dtype: int64
2100

Tamb√©m conseguimos utilizar o dicion√°rio como s√©ries:

In [6]:
rotina = {
    "dia01": 320,
    "dia02": 410,
    "dia03": 580,
    "dia04": 720,
}

rotinaSeries = pd.Series(rotina, index=['dia01', 'dia02', 'dia03', 'dia04'])
#ou
rotinaSeries = pd.Series(rotina, index=rotina.keys())

print(rotinaSeries)

dia01    320
dia02    410
dia03    580
dia04    720
dtype: int64

# Quadro de dados
Os conjuntos de dados no Pandas geralmente s√£o tabelas multidimensionais, chamadas DataFrames.

Uma s√©rie √© como uma coluna, um DataFrame √© a tabela inteira.

In [7]:
dados = {
    'Carros': ['Jetta Variant', 'Passat', 'Crossfox'],
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor 2.0'],
    'Ano': [2003, 1991, 1990]
}

dadosPainel = pd.DataFrame(dados)
print(dadosPainel)

          Carros            Motor   Ano
0  Jetta Variant  Motor 4.0 Turbo  2003
1         Passat     Motor Diesel  1991
2       Crossfox        Motor 2.0  1990

In [8]:
# DATAFRAME

df = pd.DataFrame(dados)
print(df.loc[0:1]) # O pandas usa o loc atributo para retornar uma ou mais linhas especificadas

          Carros            Motor   Ano
0  Jetta Variant  Motor 4.0 Turbo  2003
1         Passat     Motor Diesel  1991

In [9]:
print(dadosPainel.loc[[1, 2]])

     Carros         Motor   Ano
1    Passat  Motor Diesel  1991
2  Crossfox     Motor 2.0  1990

# Carregando arquivos para um DATAFRAME

In [10]:
import pandas as pd

df = pd.read_csv('data.csv')

df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [11]:
# mostra todas as linhas
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [12]:
# mostra as primeiras 5 e as √∫ltimas 5 linhas.
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

Conseguimos alterar a quantidade de linhas retornadas por padr√£o, utilizando o seguinte comando:

In [13]:
import pandas as pd

pd.options.display.max_rows = 9999
df = pd.read_csv('data.csv')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

Trabalhando com JSON

In [14]:
import pandas as pd

df = pd.read_json('data.json')

df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [15]:
print(df.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

Buscando os √∫ltimos 5 registros de um dataframe

In [16]:
print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [17]:
# Trazendo informa√ß√µes sobre o dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.6 KB
None

Limpeza de dados

Limpeza de dados significa consertar dados incorretos em seu conjunto de dados.

Dados incorretos podem ser:

C√©lulas vazias
Dados em formato errado
Dados errados
Duplicatas

In [18]:
import pandas as pd 

df=pd.read_csv('clear.csv')

print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31       165  '2020/12/31'     92       115     243.0

In [19]:
# excluindo valores vazios

new_df = df.dropna()

print(new_df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31       165  '2020/12/31'     92       115     243.0

Se quisermos alterar o dataframe original precisamos usar:  inplace = true

In [20]:
df.dropna(inplace=True)

print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31       165  '2020/12/31'     92       115     243.0

√â poss√≠vel alterar valores NULLOS para valores que a regra de neg√≥cio, ou n√≥s decidimos:

In [21]:
import pandas as pd

df= pd.read_csv('clear.csv')

df= df.fillna('C√©lula vazia')

print(df.to_string)

<bound method DataFrame.to_string of     Duration          Date  Pulse  Maxpulse      Calories
0         60  '2020/12/01'    110       130         409.1
1         60  '2020/12/02'    117       145         479.0
2         60  '2020/12/03'    103       135         340.0
3         45  '2020/12/04'    109       175         282.4
4         45  '2020/12/05'    117       148         406.0
5         60  '2020/12/06'    102       127         300.0
6         60  '2020/12/07'    110       136         374.0
7        450  '2020/12/08'    104       134         253.3
8         30  '2020/12/09'    109       133         195.1
9         60  '2020/12/10'     98       124         269.0
10        60  '2020/12/11'    103       147         329.3
11        60  '2020/12/12'    100       120         250.7
12        60  '2020/12/12'    100       120         250.7
13        60  '2020/12/13'    106       128         345.3
14        60  '2020/12/14'    104       132         379.3
15        60  '2020/12/15'     98       123         275.0
16        60  '2020/12/16'     98       120         215.2
17        60  '2020/12/17'    100       120         300.0
18        45  '2020/12/18'     90       112  C√©lula vazia
19        60  '2020/12/19'    103       123         323.0
20        45  '2020/12/20'     97       125         243.0
21        60  '2020/12/21'    108       131         364.2
22        45  C√©lula vazia    100       119         282.0
23        60  '2020/12/23'    130       101         300.0
24        45  '2020/12/24'    105       132         246.0
25        60  '2020/12/25'    102       126         334.5
26        60    2020/12/26    100       120         250.0
27        60  '2020/12/27'     92       118         241.0
28        60  '2020/12/28'    103       132  C√©lula vazia
29        60  '2020/12/29'    100       132         280.0
30        60  '2020/12/30'    102       129         380.3
31       165  '2020/12/31'     92       115         243.0>

Tamb√©m podemos alterar valores de  colunas espec√≠ficas

In [22]:
import pandas as pd

df = pd.read_csv('clear.csv')


df["Date"].fillna('Data n√£o informada', inplace=True)
df["Calories"].fillna('Calorias n√£o registradas', inplace=True)

print(df.to_string())

    Duration                Date  Pulse  Maxpulse                  Calories
0         60        '2020/12/01'    110       130                     409.1
1         60        '2020/12/02'    117       145                     479.0
2         60        '2020/12/03'    103       135                     340.0
3         45        '2020/12/04'    109       175                     282.4
4         45        '2020/12/05'    117       148                     406.0
5         60        '2020/12/06'    102       127                     300.0
6         60        '2020/12/07'    110       136                     374.0
7        450        '2020/12/08'    104       134                     253.3
8         30        '2020/12/09'    109       133                     195.1
9         60        '2020/12/10'     98       124                     269.0
10        60        '2020/12/11'    103       147                     329.3
11        60        '2020/12/12'    100       120                     250.7
12        60        '2020/12/12'    100       120                     250.7
13        60        '2020/12/13'    106       128                     345.3
14        60        '2020/12/14'    104       132                     379.3
15        60        '2020/12/15'     98       123                     275.0
16        60        '2020/12/16'     98       120                     215.2
17        60        '2020/12/17'    100       120                     300.0
18        45        '2020/12/18'     90       112  Calorias n√£o registradas
19        60        '2020/12/19'    103       123                     323.0
20        45        '2020/12/20'     97       125                     243.0
21        60        '2020/12/21'    108       131                     364.2
22        45  Data n√£o informada    100       119                     282.0
23        60        '2020/12/23'    130       101                     300.0
24        45        '2020/12/24'    105       132                     246.0
25        60        '2020/12/25'    102       126                     334.5
26        60          2020/12/26    100       120                     250.0
27        60        '2020/12/27'     92       118                     241.0
28        60        '2020/12/28'    103       132  Calorias n√£o registradas
29        60        '2020/12/29'    100       132                     280.0
30        60        '2020/12/30'    102       129                     380.3
31       165        '2020/12/31'     92       115                     243.0

C:\Users\Daniel\AppData\Local\Temp\ipykernel_18552\635766556.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Date"].fillna('Data n√£o informada', inplace=True)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_18552\635766556.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Calories"].fillna('Calorias n√£o registradas', inplace=True)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_18552\635766556.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Calorias n√£o registradas' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df["Calories"].fillna('Calorias n√£o registradas', inplace=True)

Em alguns cen√°rios matem√°ticos podemos substituir valores de colunas vazias pela m√©dia, mediana ou moda da coluna.

In [23]:
import pandas as pd 
df = pd.read_csv('clear.csv')

# definindo a media

x = df['Calories'].mean()
df['Calories'].fillna( x, inplace = True)

print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60    2020/12/26    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31       165  '2020/12/31'     92       115    243.00

C:\Users\Daniel\AppData\Local\Temp\ipykernel_18552\46523891.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Calories'].fillna( x, inplace = True)

In [24]:
# Usando a mediana

import pandas as pd 

df = pd.read_csv('clear.csv')

x = df['Calories'].median()

df['Calories'].fillna(x, inplace = True)

print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     291.2
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     291.2
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31       165  '2020/12/31'     92       115     243.0

C:\Users\Daniel\AppData\Local\Temp\ipykernel_18552\1306598097.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Calories'].fillna(x, inplace = True)

In [25]:
# Usando a moda

import pandas as pd 

df = pd.read_csv('clear.csv')

x = df["Calories"].mode()[0]

df['Calories'].fillna(x, inplace = True)

print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     300.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31       165  '2020/12/31'     92       115     243.0

C:\Users\Daniel\AppData\Local\Temp\ipykernel_18552\3711811148.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Calories'].fillna(x, inplace = True)

Converter dados em um formato correto
C√©lulas com dados em formato incorreto podem dificultar, ou at√© mesmo impossibilitar, a an√°lise de dados.
Para corrigir isso, temos duas op√ß√µes: remover as linhas ou converter todas as c√©lulas nas colunas para o mesmo formato.

In [26]:
import pandas as pd 

df = pd.read_csv('convertData.csv')

print(df.to_string())

print(df.info())

          DATE
0   2024-02-05
1   2024-11-29
2   2024-09-06
3   2024-02-05
4   2024-01-19
5   2024-06-23
6        teste
7   2024-04-04
8   2024-01-06
9   2024-07-14
10  2024-06-19
11  2024-06-02
12  2024-12-05
13  2024-04-04
14  2024-11-03
15  2024-02-26
16  2024-02-18
17  2024-05-10
18  2024-08-16
19  2024-08-18
20  2024-06-03
21  2024-01-11
22  2024-07-30
23  2024-06-25
24  2024-12-09
25        stes
26       teste
27  2024-05-03
28  2024-01-10
29  2024-04-07
30  2024-11-13
31  2024-09-04
32  2024-06-19
33  2024-09-17
34  2024-08-20
35  2024-08-28
36  2024-06-26
37  2024-05-17
38        test
39  2024-06-30
40  2024-06-21
41  2024-02-19
42  2024-02-25
43  2024-03-24
44  2024-03-25
45  2024-01-10
46  2024-08-15
47  2024-03-06
48  2024-10-17
49  2024-02-04
50  2024-10-26
51         str
52  2024-10-24
53  2024-05-17
54  2024-04-08
55  2024-10-31
56  2024-05-22
57  2024-01-14
58  2024-07-28
59  2024-03-25
60  2024-06-08
61  2024-10-30
62  2024-03-19
63  2024-09-03
64  2024-04-17
65  2024-03-20
66  2024-02-28
67  2024-03-28
68  2024-06-25
69  2024-01-27
70  2024-09-10
71  2024-08-25
72  2024-04-20
73         str
74  2024-04-21
75  2024-04-10
76  2024-03-30
77  2024-06-10
78  2024-09-14
79  2024-11-28
80  2024-01-22
81  2024-06-25
82  2024-04-24
83  2024-01-29
84  2024-01-21
85  2024-07-15
86  2024-10-20
87  2024-06-14
88  2024-08-23
89  2024-05-06
90  2024-07-04
91  2024-11-17
92  2024-11-05
93  2024-04-04
94  2024-05-31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    95 non-null     object
dtypes: object(1)
memory usage: 892.0+ bytes
None

Vamos excluir valores que n√£o s√£o datas e alterar o padrao para DIA/MES/ANO

In [27]:
# convertendo a coluna para datetime
df['DATE'] = pd.to_datetime(df['DATE'], errors='coerce')

df = df.dropna(subset=['DATE'])

df['DATE'] = df['DATE'].dt.strftime('%m/%d/%Y')

# Mostrar o DataFrame resultante
print(df.to_string())

          DATE
0   02/05/2024
1   11/29/2024
2   09/06/2024
3   02/05/2024
4   01/19/2024
5   06/23/2024
7   04/04/2024
8   01/06/2024
9   07/14/2024
10  06/19/2024
11  06/02/2024
12  12/05/2024
13  04/04/2024
14  11/03/2024
15  02/26/2024
16  02/18/2024
17  05/10/2024
18  08/16/2024
19  08/18/2024
20  06/03/2024
21  01/11/2024
22  07/30/2024
23  06/25/2024
24  12/09/2024
27  05/03/2024
28  01/10/2024
29  04/07/2024
30  11/13/2024
31  09/04/2024
32  06/19/2024
33  09/17/2024
34  08/20/2024
35  08/28/2024
36  06/26/2024
37  05/17/2024
39  06/30/2024
40  06/21/2024
41  02/19/2024
42  02/25/2024
43  03/24/2024
44  03/25/2024
45  01/10/2024
46  08/15/2024
47  03/06/2024
48  10/17/2024
49  02/04/2024
50  10/26/2024
52  10/24/2024
53  05/17/2024
54  04/08/2024
55  10/31/2024
56  05/22/2024
57  01/14/2024
58  07/28/2024
59  03/25/2024
60  06/08/2024
61  10/30/2024
62  03/19/2024
63  09/03/2024
64  04/17/2024
65  03/20/2024
66  02/28/2024
67  03/28/2024
68  06/25/2024
69  01/27/2024
70  09/10/2024
71  08/25/2024
72  04/20/2024
74  04/21/2024
75  04/10/2024
76  03/30/2024
77  06/10/2024
78  09/14/2024
79  11/28/2024
80  01/22/2024
81  06/25/2024
82  04/24/2024
83  01/29/2024
84  01/21/2024
85  07/15/2024
86  10/20/2024
87  06/14/2024
88  08/23/2024
89  05/06/2024
90  07/04/2024
91  11/17/2024
92  11/05/2024
93  04/04/2024
94  05/31/2024

Dados Errados
"Dados errados" n√£o precisam ser "c√©lulas vazias" ou "formato errado", podem ser apenas dados errados, como se algu√©m registrasse "199" em vez de "1,99".

√Äs vezes, voc√™ pode identificar dados errados ao observar o conjunto de dados, porque voc√™ tem uma expectativa do que ele deveria ser.

Se voc√™ der uma olhada em nosso conjunto de dados, ver√° que na linha 7, a dura√ß√£o √© 450, mas para todas as outras linhas a dura√ß√£o est√° entre 30 e 60.

N√£o precisa estar errado, mas levando em considera√ß√£o que esse √© o conjunto de dados das sess√µes de treino de algu√©m, conclu√≠mos que essa pessoa n√£o se exercitou em 450 minutos.

In [28]:
import pandas as pd

df = pd.read_csv('clear.csv')
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31       165  '2020/12/31'     92       115     243.0

M√©todo 01 : Substituindo valores
Esse m√©todo √© eficaz em apenas base de dados curtas, quando temos milhares de registros √© humanamente imposs√≠vel, para isso vamos para o m√©todo 02

In [29]:
df.loc[7, 'Duration'] = 45

df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7         45  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31       165  '2020/12/31'     92       115     243.0

Para substituir dados incorretos em conjuntos de dados maiores, podemos criar algumas regras, definir alguns limites e etc.. conforme:

In [30]:
# percorrendo todos o valos da Coluna, se for maior que 120 ir√° ser substituido por 120.

for x in df.index:
    if df.loc[x, "Duration"] > 120:
        df.loc[x, "Duration"] = 120
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7         45  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31       120  '2020/12/31'     92       115     243.0

Imagine que temos dados outliers e queremos excluir, definimos uma regra que vamos excluir todos os valores maiores que 100:

In [31]:
for x in df.index:
    if df.loc[x, "Duration"] > 100:
        df.drop(x, inplace=True)
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7         45  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3

Lidando com valores duplicado:
As linhas 11 e 12 s√£o exatamente iguais, ent√£o precisamos excluir pois se trata de duplicatas.

In [32]:
# retorna true para linhas duplicadas
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
dtype: bool

In [33]:
# exclui duplicatas
df.drop_duplicates(inplace=True)

df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7         45  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3

Encontrando relacionamentos
Um √≥timo aspecto do m√≥dulo Pandas √© o corr()m√©todo.

O corr()m√©todo calcula a rela√ß√£o entre cada coluna no seu conjunto de dados.

In [34]:
import pandas as pd

df = pd.read_csv('datacorr.csv')
df.head()

df.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000

Boa correla√ß√£o:
"Dura√ß√£o" e "Calorias" t√™m uma 0.922721correla√ß√£o, que √© uma correla√ß√£o muito boa, e podemos prever que quanto mais tempo voc√™ treina, mais calorias voc√™ queima, e vice-versa: se voc√™ queimou muitas calorias, provavelmente fez um treino longo.

Correla√ß√£o ruim:
"Dura√ß√£o" e "Pulso m√°ximo" obtiveram uma 0.009403correla√ß√£o, que √© uma correla√ß√£o muito ruim, o que significa que n√£o podemos prever o pulso m√°ximo apenas observando a dura√ß√£o do treino, e vice-versa.

Plotagem
O Pandas usa o plot()m√©todo para criar diagramas.

Podemos usar o Pyplot, um subm√≥dulo da biblioteca Matplotlib para visualizar o diagrama na tela.

Leia mais sobre Matplotlib em nosso Tutorial Matplotlib .

In [35]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data.csv')