Recebemos uma demanda da instituição de ensino do nosso projeto que nos repassou uma lista de 20 estudantes e suas respectivas médias finais. Aqui, nós precisamos selecionar estudantes que tenham média final maior ou igual a 9.0. Esses(as) estudantes serão premiados(as) com uma bolsa de estudos para o próximo ano letivo.

Para filtrar os dados, temos que gerar um dicionário cujas chaves são os nomes e os valores são as médias dos(as) estudantes selecionados(as). Estes são os dados recebidos:

`{expressao_chave: expressao_valor for item in iteravel if condicao}`

In [2]:
nomes_estudantes = [ "Enrico Monteiro", "Luna Pereira", "Anthony Silveira", "Letícia Fernandes",
                    "João Vitor Nascimento", "Maysa Caldeira", "Diana Carvalho", "Mariane da Rosa",
                    "Camila Fernandes", "Levi Alves", "Nicolas da Rocha", "Amanda Novaes",
                    "Laís Moraes", "Letícia Oliveira", "Lucca Novaes", "Lara Cunha",
                    "Beatriz Martins", "João Vitor Azevedo", "Stephany Rosa", "Gustavo Henrique Lima" ]

medias_estudantes = [5.4, 4.1, 9.1, 5.3, 6.9, 3.1, 10.0, 5.0, 8.2, 5.5,
                    8.1, 7.4, 5.0, 3.7, 8.1, 6.2, 6.1, 5.6, 6.7, 8.2]

In [ ]:
bolsistas = {nome: media               # Cria um dicionário 'bolsistas' onde cada chave será 'nome' e o valor será 'media'.
             for nome, media in zip(nomes_estudantes, medias_estudantes)  # Para cada par de 'nome' e 'media' dos estudantes, combinados pela função zip().
             if media >= 9.0}           # Inclui apenas os estudantes cujas médias são maiores ou iguais a 9.0.

bolsistas

Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:

In [8]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

In [ ]:
lista_soma = [sum(lista) for lista in lista_de_listas]

lista_soma

Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:

In [ ]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
nova_tupla = [tupla[2] for tupla in lista_de_tuplas]
nova_tupla

In [ ]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

lista_vazia = []
for tupla in lista_de_tuplas:
    lista_vazia.append(tupla[2])

A partir da lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [ ]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

lista_tuplas = [(lista.index(nome), nome) for nome in lista]
lista_tuplas

In [ ]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
valor_numerico = []

for item in aluguel:
    valor_numerico.append(item[1])

valor_numerico

In [ ]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
numeros = []

# Iterar pela lista
for item in aluguel:
    for elemento in item:  # Itera pelos elementos de cada tupla
        if isinstance(elemento, int):  # Verifica se o elemento é um número inteiro
            numeros.append(elemento)

print(numeros)

In [ ]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

# Extrair somente os números
numeros = [valor for _, valor in aluguel]

print(numeros)

In [32]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:

In [ ]:
filtro = [valor for valor in vendas if valor[0] == '2022' and valor[1] > 6000]
filtro

Crie um dicionário usando o dict comprehension em que as chaves estão na lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] e os valores estão em despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

In [ ]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

juncao = {mes: valor for mes, valor in zip(meses, despesa)}
juncao

In [ ]:
juncao_2 = zip(meses,despesa)
juncao_2 = dict(juncao_2)
juncao_2

In [ ]:
soma_total = sum(juncao_2.values())
soma_total

Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

Glicose igual ou inferior a 70: 'Hipoglicemia'
Glicose entre 70 a 99: 'Normal'
Glicose entre 100 e 125: 'Alterada'
Glicose superior a 125: 'Diabetes'
A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

# Criar a lista de tuplas com rótulos
rotulos = [
    (valor, 'Hipoglicemia') if valor <= 70 else
    (valor, 'Normal') if 70 < valor <= 99 else
    (valor, 'Alterada') if 100 <= valor <= 125 else
    (valor, 'Diabetes')
    for valor in glicemia
]

# Exibir a lista rotulada
print(rotulos)