merge() - Juntar tabelas com uma chave comum

Se as tabelas possuem uma coluna em comum, use essa coluna como chave:

In [2]:
import pandas as pd 

df_clientes = pd.DataFrame({
    'ID': [1, 2, 3],
    'Nome': ['Alice', 'Bob', 'Charlie']
})

df_compras = pd.DataFrame({
      'ID': [1, 2, 3],
    'Compras': [200, 150, 300]
})

df_vendas = pd.merge(df_clientes, df_compras, on='ID') # INNER JOIN PADR√ÉO

print(df_vendas)

   ID     Nome  Compras
0   1    Alice      200
1   2      Bob      150
2   3  Charlie      300

Juntando planilhas diferentes

In [6]:
import pandas as pd 

df_produtos = pd.read_csv('produtos.csv')
df_vendas = pd.read_csv('vendas.csv')

df_vendasTotais = pd.merge(df_produtos, df_vendas, on='ProductID', how='left')

df_vendasTotais['TotalSalue'] = df_vendasTotais['Quantity'] * df_vendasTotais['SaleValue']

df_vendasTotais

,ProductID,ProductName,CostPrice,Category,TransactionID,Date,Quantity,SaleValue,Channel,TotalSalue
0,101,Widget A,15.0,Gadgets,1,2024-12-01,2,40.0,E-commerce,80.0
1,101,Widget A,15.0,Gadgets,4,2024-12-03,4,80.0,Physical Store,320.0
2,102,Widget B,10.0,Gadgets,2,2024-12-02,1,20.0,Physical Store,20.0
3,102,Widget B,10.0,Gadgets,6,2024-12-04,2,40.0,Physical Store,80.0
4,103,Widget C,20.0,Accessories,3,2024-12-02,3,60.0,E-commerce,180.0
5,104,Widget D,25.0,Accessories,5,2024-12-04,1,30.0,E-commerce,30.0