In [1]:
import pandas as pd

# Criar DataFrame de exemplo
df = pd.DataFrame({'A': [1, 2, None], 'B': [None, 2, 3]})

# Identificar valores nulos
print(df.isnull())  # Retorna um DataFrame booleano
print(df.isnull().sum())  # Conta os valores nulos por coluna

       A      B
0  False   True
1  False  False
2   True  False
A    1
B    1
dtype: int64

In [11]:
# Limpeza de linhas com valores nulos
df_limpeza = df.dropna()
df_limpeza

     A    B
1  2.0  2.0

In [15]:
# Substituir valores vazios
df_filled = df.fillna(0)
df_filled

     A    B
0  1.0  0.0
1  2.0  2.0
2  0.0  3.0

In [17]:
# Preenche com valolr médio, mediano ou mais frequente
df['A'] = df['A'].fillna(df['A'].mean())  # Média
df['B'] = df['B'].fillna(df['B'].median())  # Mediana
df['B'] = df['B'].fillna(df['B'].mode()[0])  # Mais frequente

df

     A    B
0  1.0  2.5
1  2.0  2.0
2  1.5  3.0

In [19]:
# Para preencher valores vazios de maneira inteligente, por exemplo, em séries temporais:

df_interpolated = df.interpolate()
df_interpolated

     A    B
0  1.0  2.5
1  2.0  2.0
2  1.5  3.0