Imagine que possuímos uma base de dados onde os valores monetários estão armazenados como strings, e queremos converter para float

In [8]:
import pandas as pd
df = pd.DataFrame({
    'valores':['10.5', '20.7', '15.3', '8.9']
})

df['valores'] = df['valores'].astype(float)

#Verificando o tipo 
print(df['valores'].dtype)

float64

Agora, vamos supor que em nossa coluna tenha valores em string e numéricos juntos...

In [12]:
import pandas as pd


df = pd.DataFrame({
    'valores': ['10.5', '20.7', 'abc', '8.9']
})

df['valores'] = pd.to_numeric(df['valores'], errors='coerce') # Coerce vai transformar qualquer valor inválido em NaN

print(df)
print(df['valores'].dtype)

   valores
0     10.5
1     20.7
2      NaN
3      8.9
float64